

<div class="jumbotron">
  <div class="jumbo-container">
    <h2>Work From Anywhere</h2>
  </div>
  <!-- <div class='jumbo-container-cover'></div> -->
</div>


<!-- <div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div> -->

<div class="container">



<%- model_class = Cafe -%>

<div class="row">
  <% @caves.each do |cafe| %>
      <div class="thumbnail" id="image">
        <%= link_to image_tag(cafe.image.url), cafe %>
        <div class="caption"> <span>
          <h3><%= cafe.name %></h3>
          <p>
            <%@review = Review.where(cafe_id: cafe.id)%>
            <%if @review.blank? %>
              <%@avg_rating = 0%>
            <%else%>
              <%@avg_rating = @review.average(:rating).round(2)%>
            <%end%>
            <div class="star-rating" data-score= <%= @avg_rating %> ></div>
            <p><%= "#{@review.length} reviews" %></p>
          </p>

          </span></div>
        </div>
    <%end %>
</div>




</div>

<!-- load spinner on ajax-->
<script type="text/javascript">
$(document).ready(function(){
    $("#spinner").bind("ajaxSend", function() {
        $(this).show();
    }).bind("ajaxStop", function() {
        $(this).hide();
    }).bind("ajaxError", function() {
        $(this).hide();
    });

     });
</script>
<!-- load spinner on ajax-->

<!-- load spinner on click-->
<script type="text/javascript">
$(document).ready(function(){
    $('#image').click(function() {
        $('#spinner').show();
    });
});
</script>
<!-- //load spinner-->

<!-- star rating -->
<script>

  $('.star-rating').raty({
    path: '/images/ratyrate',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });

</script>

<!-- reload page once to load javascript -->
<script type="text/javascript">
$(document).ready(function(){
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>

<script type="text/javascript">

$(document).ready(function(){
  $('.sk-fading-circle').hide();  // hide spinner initially.
  });

</script>
