
<div class=container>

  <h1>Pages#about</h1>

  <h2>@nativeNomadic</h2>
  <a href="https://www.facebook.com/NativeNomadic-1193697507320991/" target="_blank"><span style="font-size:3em;" class="fa fa-facebook"></span></a>
  <a href="https://www.instagram.com/nativenomadic/" target="_blank"><span style="font-size:3em;" class="fa fa-instagram"></span></a>
  <a href="https://twitter.com/NativeNomadic" target="_blank"><span style="font-size:3em;" class="fa fa-twitter"></span></a>

  <br>
  <br>

  <p><span style="font-size:4em;" class="glyphicon glyphicon-user"></span></p>
  <h3>My name's Ralph, I am looking for access to multiple unique coworking spaces. I want mobility that doesn't break the bank.</h3>
  <br>
  <p><span style="font-size:4em;" class="glyphicon glyphicon-unchecked"></span></p>
  <h3>Independent coworking spaces are looking for open-space clients to help promote their space and pad their finances.</h3>
  <br>
  <p><span style="font-size:4em;" class="glyphicon glyphicon-heart"></span></p>
  <h3>native|Nomadic is a tool for Ralph that provides him access to coworking space in many locations.</h3>
    <br>
    <h3>Coworking spaces
    that partner with native|Nomadic get access to new clients and are provided additional subscription revenue.</h3>

</div>
<br>
