
<br>
<br>

<div class="container">
        <div class="col-md-6 col-md-offset-3 panel panel-default form-style">
            <div class="panel-body">
                <h2>CoWorker Elite</h2>
                <h4>Find the best places to meet, work, create, and make</h4>
                <br>
                <p>Unlimitted access</p>
                <br>
                <br>
                <h3>$199</h3><p>/month</p>
                <br>
                <%= link_to 'Subscribe',
                              '/subscribers/new', :class => 'btn btn-primary' %>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3 panel panel-default form-style">
            <div class="panel-body">
                <h2>CoWorker Pro</h2>
                <h4>Find the best places to meet, work, create, and make</h4>
                <br>
                <p>8 days per month</p>
                <br>
                <br>
                <h3>$99</h3><p>/month</p>
                <br>
                <%= link_to 'Subscribe',
                              '/subscribers/new', :class => 'btn btn-primary' %>
            </div>
          </div>
</div>
