
<%= form_for(@payment, html: { multipart: true }, :html => { :class => 'form-horizontal form-model' }) do %>


<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV["STRIPE_PUBLIC_KEY"] %>"
          data-description="CoWorking Credit"
          data-amount="2500"></script><span> $25 in CoWork Credit.</span>
<% end %>
