<%= form_tag payment_path, method: :put do %>


<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="CoWorking Credit"
          data-amount="2500"></script><span> $25 in CoWork Credit.</span>
<% end %>
