@import "bootstrap";


.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.jumbotron{
  background-image: linear-gradient(-45deg, #74949c, #2d4677);
  h1{
    color: #fff;
  }
  h2{
    color: #C0C0C0;
  }
  link{
    color: #fff;
  }

}
