@import "bootstrap";


.body {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

.home-banner{
  text: bold;
  text-align:center;
  color: #A8A8A8
}

.thumbnail.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0 auto;
    text-align:left;
}

.post-content {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -107px;
    margin-left: 5px;
    text-align:left;
    width: 75%;
}

.wrapper {
    text-align:left;
}
.wrapper2 {
    text-align:left;
    margin-left: 15px;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.navbar.navbar-default{
  margin-bottom: 2px;

}


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.round-image-50 {
    background-color: white;
    border: 0px solid #d9d9d9;
    border-radius: 37px;
    -moz-border-radius: 37px;
    -webkit-border-radius: 37px;
    height: 75px;
    width: 75px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.pad-11 {
  padding-left: 11px;
}

////////////////////////////////////////////
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
//////////////////////////////////////


.jumbotron {
  position: relative;
  background: url('https://dl.dropboxusercontent.com/s/otbt4wgvrppvr8a/1280x445View.png?dl=0') center center;
  height: 300px;
  width: 100%;
  background-size: cover;
  overflow: hidden;

}
.jumbo-container {
  h2{
    color: white;
    font-size: 78px;
    text-align: center;
  }
}

.jumbo-container-cover {
  position: relative;
  background: url('https://dl.dropboxusercontent.com/s/mf3i3nvn38iofno/1280x445View_guyonly.png?dl=0') center center;
  height: 300px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  //top:0px;  /* your iframe height */
  margin-top:-163px;  /* your iframe height */
}


.container.container-banner{
  background-image: linear-gradient(-45deg, #74949c, #2d4677);
  margin: 0 auto;
  width: 100%;
  height: 230px;
  background-size: cover;
  h2{
    color: #C0C0C0;
  }
}

.overlayMap {
   background:transparent;
   position:relative;
   width:100%;
   height:300px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}



.table.table{
  td{
    // border-bottom-style: hidden;
  }

}

.panel-body{
  h4{
    color: #C0C0C0;
  }

}


.btn.btn-primary{
  color: #FFFFFF;
  background-color: #D80000;
  border-color: #D80000;

}

.btn.btn-primary:hover{
  color: #FFFFFF;
  background-color: #B00000;
  border-color: #B00000;

}

.btn.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
  color: #FFFFFF;
  background-color: #B00000;
  border-color: #B00000;

}
///////

.btn.btn-custom {
  color: white;
  background-color: #D80000;
  border-color: #D80000;
}

.btn.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open > .dropdown-toggle.btn-custom {
  color: #FFFFFF;
  background-color: #B00000;
  border-color: #B00000;
}

.btn-custom:active, .btn-custom.active {
  color: #FFFFFF;
  background-color: #B00000;
  border-color: #B00000;
}
///////

.btn.btn-default{
}

.btn.btn-link{
color: #3366FF;

}
.btn.btn-link:hover{
color: #006666;

}
