@import "bootstrap";
//@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);



.body {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.thumbnail.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}




.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.navbar.navbar-default{
  margin-bottom: 2px;

}

.container.container-fluid{
}

.jumbotron{

  background-image: url();
  //linear-gradient(-45deg, #74949c, #2d4677);
  background-size: cover;
  h1{
    color: #fff;
    padding-left: 15px;
  }
  h2{
    color: #C0C0C0;
    padding-left: 15px;
  }
  link{
    color: #fff;
  }

}

.container.container-banner{
  background-image: linear-gradient(-45deg, #74949c, #2d4677);
  margin: 0 auto;
  width: 100%;
  height: 230px;
  background-size: cover;
  h2{
    color: #C0C0C0;
  }
}

.overlayMap {
   background:transparent;
   position:relative;
   width:100%;
   height:300px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}

.table.table{
  td{
    // border-bottom-style: hidden;
  }

}

.panel-body{
  h4{
    color: #C0C0C0;
  }

}


.btn.btn-primary{
  color: #FFFFFF;
  background-color: #D80000;
  border-color: #D80000;

}

.btn.btn-primary:hover{
  color: #FFFFFF;
  background-color: #B00000;
  border-color: #B00000;

}

.btn.btn-default{
}

.btn.btn-link{
color: #3366FF;

}
.btn.btn-link:hover{
color: #006666;

}

////////////////////SPINNER///////////////////////

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

////////////////////SPINNER///////////////////////
